<span></span>
<section>
    <h1>Wie zijn wij?</h1>
    <p>Caspar Finance is een coöperatieve werkvereniging opgericht door Paul Hermans in 1995. Het kantoor is gevestigd in Naarden en is een allround kantoor op het gebied van administratie en belastingaangifte. 
        <br>
        Ons kantoor heeft een vaste, diverse, trouwe klantenkring die ieder jaar verder uitgroeit. 
        <br>
        Onze klanten vinden het heel prettig dat wij aan de voorkant duidelijk zijn over de kosten door te werken met een abonnement en geen extra kosten in rekening brengen bij vragen.</p>
    <article>
        
        <h3>Paul Hermans</h3>
        <div>
        <img src="/images/Paul zwart wit.jpg" alt="Paul">
        </div>
        <p>Voor 1995 heb ik bij verschillende bedrijven gewerkt als hoofd administratie, onder andere bij Nierstichting Nederland (1993-1998). In 1995 ben ik gestart met Caspar Finance, een administratiekantoor. In deze periode van 26 jaar heb ik tot 2011 altijd extern gewerkt bij verschillende kantoren. Ik ben bijvoorbeeld hoofd financiën geweest bij AMT (voorloper van uniQure) en Marviq. Vanaf 2011 werk ik vanuit mijn eigen kantoor in Naarden voor allerlei bedrijven. Van ZZP’ers tot advocatenkantoren, winkeliers, scholen en DGA’s. </p>
    </article>
    <article>
        <h3>Marjolijn Wieleart</h3>
        <img src="/images/Marjolijn zwart wit.jpg" alt="Marjolijn">
        <p>
            Na mijn studie Algemene Sociale Wetenschappen heb ik voor verschillende organisaties gewerkt. In 2014 heb ik mijn eigen bedrijf, een winkel en webshop opgericht. Sinds 2020 ben ik parttime werkzaam bij het kantoor Caspar Finance als administrateur.
        </p>
    </article>
    <article>
        <h3>Jelle Hermans</h3>
        <img src="/images/Jelle zwart wit.jpg" alt="Jelle">
        <p>Ooit ben ik begonnen bij Caspar Finance om mijn rechtenstudie te bekostigen. Met een diploma Rechten op zak heb ik besloten om aan te blijven. Het boekhoudersvak heb ik in de praktijk geleerd van Paul. Bij Caspar Finance richt ik mij vooral op het debiteurenbeheer en juridische kwesties.</p>
    </article>
    <Article>
        <h3>Amber van Reeuwijk</h3>
        <img src="/images/Amber zwart wit.jpg" alt="Amber">
        <p>Voor mij staat Caspar Finance voor doorgroeien en vertrouwen. Doorgroeien binnen het vakgebied als juniorboekhouder, maar ook de mogelijkheid voor klanten om door te kunnen groeien met hun eigen bedrijf. Het vertrouwen vanuit Caspar Finance naar haar klanten is hierbij van belang; deze persoonlijke sfeer draagt voor mij bij aan een fijne werkomgeving.</p>
    </Article>
    <article>
        <img src="/images/team kleur.jpg" alt="Team CF">
    </article>
</section>
<script src="/javascript/client.js"></script>