<span></span>
<section>
    <h1>Over Ons</h1>
    <p>Wij zijn Capsar Finance?</p>
    <img src="/images/Paul zwart wit.jpg" alt="Paul">
    <img src="/images/Marjolijn zwart wit.jpg" alt="Marjolijn">
    <img src="/images/Jelle zwart wit.jpg" alt="Jelle">
    <img src="/images/Amber zwart wit.jpg" alt="Amber">
    <img src="/images/team kleur.jpg" alt="Team CF">
</section>
<script src="/javascript/client.js"></script>