<span></span>
<section>
<h2>Contact informatie</h2>
        <ul>
           <li> <i class="far fa-envelope"></i>Caspar Finance, Postbus 420, 1400 AK Bussum, Nederland</li>
           <li> <i class="fas fa-map-marker-alt"></i> Binnenhof 62b, Naarden</li>
           <li> <i class="fas fa-mobile-alt"></i><a href="tel://+31620161979">+31 6 201 619 79</a></li>
           <li> <i class="fas fa-phone-alt"></i><a href="tel://+31356950506">+31 35 695 05 06</a></li>
           <li> <i class="fas fa-print"></i><a href="tel://+31357122733">+31 35 712 27 33</a></li>
           <li> <i class="fas fa-envelope"></i><a href="mailto:ph@caspar.finance">ph@caspar.finance</a></li>
           <li> <i class="fas fa-globe-americas"></i><a href="www.caspar.finance">www.caspar.finance</a></li>
           {{!-- <li> <i class="far fa-building"></i>kvk: 76062015</li>
           <li> <i class="far fa-handshake"></i>Handelsregister: 32061156</li>
           <li> <i class="fas fa-money-check"></i>BTW nr. NL 8043.08.640.B.02</li> --}}
        </ul>
</section>
<section>
    <article id="map">
    </article>
    {{!-- <div class="explode">
        <img src="/images/glasses.png" alt=""> 
        <img src="/images/paul.jpg" alt="">
        <img src="/images/boom.png" alt="">
        <h1>CASPAR FINANCE</h1>
    </div> --}}
</section>
<script src="/javascript/client.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP7lFfFBKKZx5ls0HZxyOdPRfoA_VtcRQ&callback=initMap">
</script>

