<section>
    <article>
        <h2>Administratie</h2>
        <p>
            Caspar Finance is een administratiekantoor in Naarden. 
            Wij kunnen voor u de administratie verzorgen en adviezen geven over de administratie. 
            Onze diensten bestaan onder andere uit:
        </p>
        <ul>
            <li>Het voeren van een complete digitale boekhouding, inclusief debiteuren en crediteuren beheer;</li>
            <li>Het doen van alle relevante aangiften;</li>
            <li>Het reorganiseren van de administratie.</li>
        </ul>
        <p>
            Het is van groot belang dat u altijd op de hoogte bent van hoe uw onderneming er voor staat. 
            Daaruit blijkt wat de fiscale verplichtingen zijn, én wat er financieel mogelijk is. 
            In het kader hiervan bieden wij de volgende diensten aan:
        </p>
        <ul>
            <li>Periodieke controles;</li>
            <li>Het opstellen van tussentijdse overzichten;</li>
            <li>Het samenstellen van jaarrekeningen.</li>
        </ul>
    </article>
    <article>
        <h2>Salarisadministratie</h2>
        <p>
            Als u mensen in dienst heeft dan bent u verplicht om een salarisadministratie bij te houden. 
            Daarvoor moeten loonstrookjes gemaakt worden en moet er elke loonperiode (afhankelijk van uw keuze gaat het om een periode van een maand of om een periode van vier weken) een aangifte loonheffing gedaan worden. 
            Door de salarisadministratie uit te besteden, blijft er meer tijd over voor uw bedrijf en weet u zeker dat de administratie goed wordt verricht. 
            Zo voorkom je boetes of een te hoge loonheffing. Ook zorgen de loonstrookjes die wij maken ervoor dat uw werknemers altijd goed op de hoogte zijn van hun netto- en brutosalaris, hoeveel vakantiegeld ze hebben opgebouwd en hoeveel belasting er namens hun wordt afgedragen.
        </p>
    </article>
    <article>
        <h2>Facturatie</h2>
        <p>
            Veel ondernemers zijn veel tijd kwijt aan het opstellen van facturen. 
            Daarna zijn ze vaak nog veel tijd kwijt aan het zorgen dat die facturen ook echt betaald worden. 
            Dit kost veel tijd en dat gaat ten koste van de tijd die in de onderneming gestoken kan worden. 
            Als u de facturatie aan ons uitbesteed dan zorgen wij dat de facturen spoedig en op tijd worden verzonden. 
            Hierdoor zijn uw klanten geneigd sneller te betalen. 
            Daarnaast dragen wij er zorg voor dat de omzetbelasting op de juiste manier wordt meegenomen op de factuur. 
            Dat doen wij voor binnenlandse facturen, maar ook voor facturen over diensten of leveringen binnen de Europese unie, zogeheten Intracommunautaire Prestaties en voor diensten leveringen aan andere landen buiten de Europese unie. 
        </p>
        <p>
            Een bijkomstig voordeel is dat facturen die wij voor u maken, meteen meegenomen kunnen worden in de boekhouding. 
            Wij laten u weten of de factuur betaald wordt en nemen de facturen meteen mee in de administratie. 
            Daardoor bent u minder tijd kwijt aan de administratieve kant van uw bedrijf.
        </p>
    </article>
    <article>
        <h2>Belastingaangifte</h2>
        <p>
            Bij Caspar Finance zijn we gespecialiseerd in de belastingaangiften. 
            Die doen wij zowel voor bedrijven als voor particulieren. Wij doen onder andere de volgende aangiften voor onze klanten:
        </p>
        <ul>
            <li>Omzetbelasting;</li>
            <li>Vennootschapsbelasting;</li>
            <li>Loonbelasting;</li>
            <li>Dividendbelasting;</li>
            <li>Inkomstenbelasting;</li>
            <li>Erfbelasting;</li>
            <li>Schenkbelasting;</li>
            <li>Vermogensrendementsheffing.</li>
        </ul>
    </article>
    <article>
        <h2>Jaarrekening</h2>
        <p>
            De jaarrekening moet uiterlijk 7 maanden na sluiting van het boekjaar worden gedeponeerd. Meestal is het boekjaar gelijk aan het kalenderjaar. 
            In dat geval moet de jaarrekening uiterlijk 31 juli gedeponeerd worden.  De jaarrekening is niet voor alle ondernemingen verplicht. 
            Het hangt ervan af welk soort bedrijf je hebt. Onder andere B.V.’s, N.V.’s verenigingen en stichtingen zijn verplicht een jaarrekening op te stellen en te deponeren bij de kamer van koophandel.  
        </p>
        <p>
            Voor zzp’ers zijn jaarrekeningen niet verplicht, maar soms wel nodig. Bijvoorbeeld als je een lening wilt afsluiten bij een bank. 
            Hoewel jaarrekeningen niet altijd verplicht zijn, kunnen ze altijd van nut zijn. Zo blijkt uit de winst en verliesrekening wat er is uitgegeven en wat er is binnengekomen. 
            Uit de balans blijkt hoe het vermogen er op dat moment voor staat. Het goed bestuderen van de cijfers in de jaarrekening kan tot veel mogelijkheden leiden. 
            Zo valt te zien waar nog geld te besparen valt en waar nog meer winst gemaakt kan worden.
        </p>
    </article>
</section>