<span></span>
<section>
    <article>
        <p>Bent u benieuwd welke financieele diensten <a href="#">Caspar Finance</a> biedt?</p>
        <button><a href="#">Diensten</a></button>
        <img src="{{img1}}" alt="">
    </article>
</section>
<section>
    <h2>Met jarenlange ervaring in het ondersteunen van de lokale economie.</h2>
    <article>
        <p>
            Bij ons kunt u terecht met uw administratie. 
            Van de boekhouding tot aan de belastingaangiften zijn wij er voor u. 
        </p>
        <img src="/images/team zwart wit.jpg" alt="P. Hermans ">
        <p>
            Daarbij kunt u altijd terecht met vragen en geven wij financieel en fiscaal advies. 
            Of het nou om de omzetbelasting, vennootschapsbelasting of om de inkomstbelasting gaat. 
            <span>Wij staan altijd voor u klaar.</span>
        </p>
        <p> Bij ons kunt u terecht met uw administratie. 
            <br>
            Van de boekhouding tot aan de belastingaangiften zijn wij er voor u.
            Daarbij kunt u altijd terecht met vragen en geven wij financieel en fiscaal advies. 
            <br>
            Of het nou om de omzetbelasting, vennootschapsbelasting of om de inkomstbelasting gaat. 
            <br>
            <span>Wij staan altijd voor u klaar.</span>  
        </p>
        <img src="/images/handIcon.png" alt="handshake icon">
    </article>

</section>
<section>
    <article id="map"></article>
</section>
<script src="/javascript/client.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsArI8N3KdjWiJGtcpDzOhQL01DWpeDmk&callback=initMap">
</script>