<section>
    <h1>Hoe werken wij?</h1>
    <div>
        <article>
            <h2><i class="fa fa-door-open"></i>Intake</h2>
            <p>
                We nodigen u uit voor een intakegesprek op ons kantoor in Naarden of indien gewenst voor een onlinegesprek. Dit gesprek is om te horen welke vragen er spelen en uit te leggen wat onze dienstverlening inhoudt. Dit gesprek is altijd kosteloos en vrijblijvend. 
            </p>
        </article>
        <article>
            <h2><i class="far fa-handshake"></i>Abonnement</h2>
            <p>
                Wij werken op basis van een abonnement. Door het afsluiten van een abonnement weet u wat uw kosten zijn voor uw totale administratie. In het abonnement zijn alle administratieve werkzaamheden opgenomen. Voor vragen of uitzoekwerk rekenen we geen extra uren en dus geen extra kosten. 
            </p>
        </article>
    </div>
    <div>
        <article>
            <h2><i class="far fa-envelope"></i>Dropbox</h2>
            <p>
                Als u bij ons klant bent, ontvangt uw een eigen Dropbox-account. In deze Dropbox kunt u uw inkoop- en verkoopfacturen opslaan. Wij verwerken deze facturen vervolgens in het boekhoudsysteem. Vervolgens verzorgen wij uw btw-aangifte en aangifte inkomstenbelasting.
            </p>
        </article>
        <article>
            <h2><i class="far fa-user"></i>Voor wie?</h2>
            <p>
                ZZP’ers, eenmanszaken, VOF’s, detailhandel, maatschappen
                Een ZZP-abonnement is vanaf 49 euro per maand. Dit is inclusief alle aangiftes; ook aangifte inkomstenbelasting en aangifte inkomstenbelasting voor een eventuele partner.
            </p>
        </article>
    </div>
</section>
<script src="/javascript/client.js"></script>



