* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

:root {
  --background-color: #ffffff;
  --background-color-gray: #bbbaab;
  --background-gradient: #00000059;
  --background-gradient2: transparent 58%;

  --text: #1e1e1e;
  --headings: #be9d68;
  --highLights: #f6f2c0;
  --link: #364b91;
}

/* darkmode */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1e1e1e;
    --background-color-gray: #bbbaab;
    --background-gradient: transparent;
    --background-gradient2: transparent;

    --text: #dddddd;
    --headings: #be9d68;
    --highLights: #f6f2c0;
    --link: #f6f2c0;
  }
}

/******************/
/*****************/
/***** HEADER *****/
/******************/
/******************/

header nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

header nav a {
  font-weight: 200;
}

header nav img {
  height: 5em;
  width: auto;
}

header nav button {
  z-index: 100;
  width: 3em;
  font-size: 2em;
  border: none;
  color: #be9d68;
  background-color: transparent;
  transition: 1s;
}

header nav ul {
  position: fixed;
  margin: 0;
  left: 30%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #be9d68ed;
  list-style-type: none;
  transform: translateX(100%);
  transition: 0.6s;
  z-index: 50;
}

.active {
  transform: translateX(0);
  transition: 0.6s;
}

.cross {
  color: #dddddd;
  background-color: transparent;
  transition: 1s;
}

header nav ul li:first-of-type {
  display: none;
}

header nav ul li:nth-of-type(2) {
  margin-top: 5em;
}

header nav ul li {
  padding-bottom: 1em;
  margin-left: 3em;
}

header nav ul li a {
  color: #dddddd;
  font-size: 1.2em;
  font-weight: 200;
  margin-bottom: 0.2em;
}

header nav ul li a:hover {
  color: #f6f2c0;
}

.layOver {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 / 30%);
  z-index: 5;
}

/************************/
/************************/
/** MAIN FIRST SECTION **/
/************************/
/************************/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2 {
  color: var(--headings);
  margin: 2em auto;
  font-weight: 200;
  font-size: 30px;
}

section:first-of-type {
  display: flex;
  flex-direction: column;
}

section:first-of-type ul {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

section:first-of-type ul li {
  font-size: 16px;
  font-weight: 400;
  color: rgb(148, 148, 148);
  margin: 0.8em;
  max-width: 13em;
  text-align: start;
  margin-left: 5em;
}

section:first-of-type ul li i {
  margin-right: 1em;
  /* position: absolute; */
  left: 2em;
  color: #bbbaab;
  font-size: 1.2em;
}

section:first-of-type ul li a {
  color: #be9d68;
}

section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  margin-bottom: 5em;
}

section:nth-of-type(2) #map {
  width: 600px;
  height: 400px;
  margin-top: 1em;
}

/****************/
/****************/
/**** FOOTER ****/
/****************/
/****************/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer article {
  margin: 2em;
}

footer h3 {
  color: var(--headings);
  margin-bottom: 0.7em;
}

footer ul {
  height: 100%;
  max-width: 38em;
}

footer ul li {
  color: #bbbaab;
  font-size: 1em;
  font-weight: 200;
  text-align: start;
  max-width: 17em;
  min-width: 16em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5em 0 0.5em 0;
}

footer ul li i {
  margin-right: 1em;
  width: 17px;
}

footer ul li a {
  color: var(--link);
}

footer > a {
  color: var(--link);
  margin: 1em 0 4em 0;
  font-weight: 100;
  font-size: 14px;
}

@media (min-width: 54em) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 50em;
    margin: 0 auto;
  }

  footer i {
    color: var(--headings);
  }

  footer > a {
    color: var(--link);
    margin: 1em auto 4em auto;
    font-weight: 100;
    font-size: 14px;
  }
}

@media (min-width: 50em) {
  main {
    flex-direction: row;
  }
}

@media (min-width: 65em) {
  /******************/
  /*****************/
  /***** HEADER *****/
  /******************/
  /******************/

  /* hambugerButton */
  #buttonClick {
    display: none;
  }

  header {
    height: 7.5em;
    position: relative;
  }

  header nav {
    font-family: copperPlate;
    justify-content: flex-start;
  }

  header > nav > img {
    width: 5em;
    display: none;
  }

  header nav h1 {
    position: absolute;
    left: 20%;
    display: none;
  }

  header nav img {
    width: auto;
    height: 6em;
    margin-right: 5em;
  }

  header nav ul {
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: static;
    transform: translateX(0);
    background-color: transparent;
    justify-content: space-between;
  }

  header nav ul li {
    margin-left: 0;
    padding-bottom: 0;
  }

  header nav ul li:first-of-type {
    display: block;
    margin: 0;
  }

  header nav ul li:nth-of-type(2) {
    margin-top: 0;
  }

  header nav ul li:last-of-type {
    margin-right: 1em;
  }

  header nav ul li:nth-of-type(6) a {
    border-bottom: 3px solid #be9d68;
  }

  header > nav > a:first-of-type img {
    display: none;
  }

  header nav li a:hover {
    color: #be9d68;
  }

  header nav ul li a {
    color: var(--text);
    font-size: 1.2em;
  }

  main {
    display: flex;
  }

  section:first-of-type {
    width: 50%;
  }

  section:nth-of-type(2) {
    width: 50%;
  }
}
