* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1e1e1e;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

/******************/
/*****************/
/***** HEADER *****/
/******************/
/******************/

header nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

header nav a {
  font-weight: 200;
}

header nav img {
  height: 5em;
  width: auto;
}

header nav h1 {
  font-size: 1.2em;
  text-align: center;
  color: #08464e;
}

header nav button {
  z-index: 100;
  width: 3em;
  font-size: 2em;
  border: none;
  background-color: transparent;
  background: -webkit-linear-gradient(
    220deg,
    #462523,
    #f6e27a 25%,
    #f6f2c0 30%,
    #cb9b51 75%,
    #462523 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s;
}

header nav ul {
  position: fixed;
  margin: 0;
  left: 30%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #be9d68ed;
  list-style-type: none;
  transform: translateX(100%);
  transition: 0.6s;
  z-index: 50;
}

.active {
  transform: translateX(0);
  transition: 0.6s;
}

.cross {
  background-color: transparent;
  background: -webkit-linear-gradient(
    220deg,
    #1e1e1e,
    #747474,
    #dddddd,
    #1e1e1e
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s;
}

header nav ul li:first-of-type {
  display: none;
}

header nav ul li:nth-of-type(2) {
  margin-top: 5em;
}

header nav ul li {
  padding-bottom: 1em;
  margin-left: 3em;
}

header nav ul li a {
  color: #dddddd;
  font-size: 1.2em;
  font-weight: 200;
  margin-bottom: 0.2em;
}

header nav ul li a:hover {
  color: #f6f2c0;
}

.layOver {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 / 30%);
  z-index: 5;
}

/************************/
/************************/
/** MAIN FIRST SECTION **/
/************************/
/************************/

p {
  color: white;
}

h2 {
  color: #be9d68;
}

li {
  color: #bbbaab;
}

/****************/
/****************/
/**** FOOTER ****/
/****************/
/****************/

footer {
  display: flex;
  justify-content: center;
  /* height: 13em; */
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
  height: 100%;
  max-width: 38em;
}

footer ul li {
  margin: 0.5em;
  color: #bbbaab;
  font-size: 1.1em;
  font-weight: 300;
}

@media (min-width: 65em) {
  /******************/
  /*****************/
  /***** HEADER *****/
  /******************/
  /******************/

  /* hambugerButton */
  #buttonClick {
    display: none;
  }

  header {
    height: 7.5em;
    position: relative;
  }

  header nav {
    font-family: copperPlate;
    justify-content: flex-start;
  }

  header > nav > img {
    width: 5em;
    display: none;
  }

  header nav h1 {
    position: absolute;
    left: 20%;
    display: none;
  }

  header nav img {
    width: auto;
    height: 6em;
    margin-right: 25em;
  }

  header nav ul {
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: static;
    transform: translateX(0);
    background-color: transparent;
    justify-content: space-between;
  }

  header nav ul li {
    margin-left: 0;
    padding-bottom: 0;
  }

  header nav ul li:first-of-type {
    display: block;
    margin: 0;
  }

  header nav ul li:nth-of-type(2) {
    margin-top: 0;
  }

  header nav ul li:last-of-type {
    margin-right: 1em;
  }

  header nav ul li:nth-of-type(3) a {
    border-bottom: 3px solid #be9d68;
  }

  header > nav > a:first-of-type img {
    display: none;
  }

  header nav li a:hover {
    color: #be9d68;
  }

  header nav ul li a {
    color: #dddddd;
    font-size: 1.2em;
  }
}
