* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1e1e1e;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

/******************/
/*****************/
/***** HEADER *****/
/******************/
/******************/

header nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

header nav a {
  font-weight: 200;
}

header nav img {
  height: 5em;
  width: auto;
}

header nav h1 {
  font-size: 1.2em;
  text-align: center;
  color: #08464e;
}

header nav button {
  z-index: 100;
  width: 3em;
  font-size: 2em;
  border: none;
  color: #be9d68;
  background-color: transparent;
  transition: 1s;
}

header nav ul {
  position: fixed;
  margin: 0;
  left: 30%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #be9d68ed;
  list-style-type: none;
  transform: translateX(100%);
  transition: 0.6s;
  z-index: 50;
}

.active {
  transform: translateX(0);
  transition: 0.6s;
}

.cross {
  color: #dddddd;
  background-color: transparent;
  transition: 1s;
}

header nav ul li:first-of-type {
  display: none;
}

header nav ul li:nth-of-type(2) {
  margin-top: 5em;
}

header nav ul li {
  padding-bottom: 1em;
  margin-left: 3em;
}

header nav ul li a {
  color: #dddddd;
  font-size: 1.2em;
  font-weight: 200;
  margin-bottom: 0.2em;
}

header nav ul li a:hover {
  color: #f6f2c0;
}

/************************/
/************************/
/** MAIN FIRST SECTION **/
/************************/
/************************/

.layOver {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 / 30%);
  z-index: 5;
}

section:first-of-type article:first-of-type {
  position: relative;
}

section:first-of-type p {
  position: absolute;
  top: 2em;
  left: calc(50% - 10em);
  transform: translateX(-50%);
  color: #dddddd;
  font-size: 1.2em;
  line-height: 28px;
  max-width: 20em;
  min-width: 17em;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  opacity: 0;
  z-index: 1;
  transform: translateY(60px);
}

section:first-of-type p a {
  color: #f6f2c0;
}

section:first-of-type button {
  position: absolute;
  top: calc(50% - 2em);
  left: calc(50% - 5em);
  width: 10em;
  height: 4em;
  background-color: #be9d68;
  box-shadow: 1px 1px 8px black;
  border: none;
  border-radius: 20px;
  opacity: 0;
  z-index: 1;
  transform: translateY(60px);
}

section:first-of-type button a {
  color: white;
  font-size: 18px;
  font-weight: 3;
  font-family: "Poppins";
}

section:first-of-type img {
  width: 100%;
  height: 18em;
  object-fit: cover;
  animation-name: banner;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

section:first-of-type p.onload,
section:first-of-type button.onload {
  opacity: 1;
  transition: 1.5s;
  transform: translateY(0);
}

/************************/
/************************/
/*** MAIN 2ND SECTION ***/
/************************/
/************************/

section:nth-of-type(2) h2 {
  color: #bbbaab;
  font-size: 18px;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  max-width: 15em;
  margin: 1em auto 1em auto;
}

section:nth-of-type(2) article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
}

section:nth-of-type(2) article p {
  margin: 0.5em 0.5em 1em 0.5em;
  padding-bottom: 0.3em;
  text-align: start;
  border-bottom: 1px solid #be9d68;
  border-width: 80%;
  font-size: 1em;
  max-width: 30em;
  color: #dddddd;
}

section:nth-of-type(2) article p span {
  color: #be9d68;
  margin-top: 5em;
}

section:nth-of-type(2) article p:last-of-type {
  display: none;
}

section:nth-of-type(2) article img:first-of-type {
  width: 18em;
  margin: 1em;
}

section:nth-of-type(2) article img:nth-of-type(2) {
  width: 4em;
  margin: 0em 0em 0.7em 0em;
}

section:nth-of-type(2) article img:nth-of-type(2):hover {
  transform: translateY(3px);
  transition: 0.3s;
}

/************************/
/************************/
/*** MAIN 3TH SECTION ***/
/************************/
/************************/

#map {
  height: 400px;
}

/****************/
/****************/
/**** FOOTER ****/
/****************/
/****************/

footer {
  display: flex;
  justify-content: center;
  height: 13em;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
  height: 100%;
  max-width: 38em;
}

footer ul li {
  margin: 0.5em;
  color: #bbbaab;
  font-size: 1.1em;
  font-weight: 300;
}
/****************/
/****************/
/**** QUERYS ****/
/****************/
/****************/

@keyframes banner {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 54em) {
  /************************/
  /************************/
  /*** MAIN 2ND SECTION ***/
  /************************/
  /************************/

  section:nth-of-type(2) article {
    position: relative;
    flex-flow: row;
    justify-content: center;
  }

  section:nth-of-type(2) article p:first-of-type,
  section:nth-of-type(2) article p:nth-of-type(2) {
    display: none;
  }

  section:nth-of-type(2) article p:last-of-type {
    display: block;
  }

  section:nth-of-type(2) article img:first-of-type {
    order: 1;
  }

  section:nth-of-type(2) article img:nth-of-type(2) {
    position: absolute;
    bottom: 2.5em;
    left: 19.5em;
  }
}

@media (min-width: 65em) {
  /******************/
  /*****************/
  /***** HEADER *****/
  /******************/
  /******************/

  /* hambugerButton */
  #buttonClick {
    display: none;
  }

  header {
    height: 7.5em;
    position: relative;
  }

  header nav {
    font-family: copperPlate;
    justify-content: flex-start;
  }

  header > nav > img {
    width: 5em;
    display: none;
  }

  header nav h1 {
    position: absolute;
    left: 20%;
    display: none;
  }

  header nav img {
    width: auto;
    height: 6em;
    margin-right: 25em;
  }

  header nav ul {
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: static;
    transform: translateX(0);
    background-color: transparent;
    justify-content: space-between;
  }

  header nav ul li {
    margin-left: 0;
    padding-bottom: 0;
  }

  header nav ul li:first-of-type {
    display: block;
    margin: 0;
  }

  header nav ul li:nth-of-type(2) {
    margin-top: 0;
  }

  header nav ul li:last-of-type {
    margin-right: 1em;
  }

  header nav ul li:nth-of-type(2) a {
    border-bottom: 3px solid #be9d68;
  }

  header > nav > a:first-of-type img {
    display: none;
  }

  header nav li a:hover {
    color: #be9d68;
  }

  header nav ul li a {
    color: #dddddd;
    font-size: 1.2em;
  }

  section:first-of-type article img {
    height: 30em;
  }

  section:first-of-type article p {
    font-size: 30px;
    line-height: 36px;
  }

  section:first-of-type article button {
    height: 5em;
    width: 11em;
  }

  section:first-of-type article button a {
    font-size: 25px;
  }

  section:nth-of-type(2) h2 {
    font-size: 27px;
  }
}
