<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={{style}}>
    <script src="https://kit.fontawesome.com/a00741c032.js" crossorigin="anonymous"></script>
    <title>Caspar Finance</title>
</head>
<body>
    <header>
        <nav>
            <a href="/"> 
                <picture>
                    <source srcset="/images/dark.png" media="(prefers-color-scheme: dark)">
                    <img src="/images/cf logo groot wit.png" alt="logo_caspar_finance">
                </picture>
            </a>
            <button id='buttonClick' class="fa fa-bars"></button>
            <ul>
                <li><a href="/">
                   <picture>
                    <source srcset="/images/dark.png" media="(prefers-color-scheme: dark)">
                    <img src="/images/cf logo groot wit.png" alt="logo_caspar_finance">
                </picture>
                </a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/diensten">Diensten</a></li>
                <li><a href="/tarieven">Tarieven</a></li>
                <li><a href="/about">Over Ons</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <article>
            <h3>Caspar Finance </h3>
            <ul>
                <li> CASPAR.FINANCE UA</li>
                <li> Administratie en Belastingen</li>
                <li>kvk: 76062015</li>
                <li>Handelsregister: 32061156</li>
                <li>BTW nummer: NL 8043.08.640.B.02</li>
            </ul>
        </article>
        <article>
            <h3>Contact informatie</h3>
            <ul>
                <li> <i class="far fa-envelope"></i>Caspar Finance, Postbus 420, 1400 AK Bussum, Nederland</li>
                <li> <i class="fas fa-map-marker-alt"></i> Binnenhof 62b, Naarden</li>
                <li> <i class="fas fa-mobile-alt"></i><a href="tel://+31620161979">+31 6 201 619 79</a></li>
                <li> <i class="fas fa-phone-alt"></i><a href="tel://+31356950506">+31 35 695 05 06</a></li>
                <li> <i class="fas fa-envelope"></i><a href="mailto:ph@caspar.finance">ph@caspar.finance</a></li>
            </ul>
        </article>
        <a href="www.caspar.finance"><i class="fas fa-globe-americas"></i> www.caspar.finance</a>
    </footer>
</body>
</html>