<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={{style}}>
    <script src="https://kit.fontawesome.com/a00741c032.js" crossorigin="anonymous"></script>
    <title>Caspar Finance</title>
</head>
<body>
    <header>
        <nav>
            <a href="/"><img src="/images/cf logo groot_2.png" alt="logo_caspar_finance"></a>
            <button id='buttonClick' class="fa fa-bars"></button>
            <ul>
                <li><a href="/"><img src="/images/cf logo groot.png" alt="logo big"></a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/diensten">Diensten</a></li>
                <li><a href="/tarieven">Tarieven</a></li>
                <li><a href="/about">Over Ons</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <ul>
           <li>CASPAR.FINANCE UA</li>
           <li>Administratie en Belastingen</li>
           <li>Binnenhof 62b, Naarden</li>
           <li>Postbus 420, 1400 AK Bussum</li>
           <li>E-mail: ph@caspar.finance</li>
           <li>kvk: 76062015</li>
           <li>Handelsregister: 32061156</li>
           <li>BTW nr. NL 8043.08.640.B.02</li>
        </ul>
    </footer>
</body>
</html>